<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.boskokg.flutter_blue_plus">

    <!-- New Bluetooth permissions in Android 12
           https://developer.android.com/about/versions/12/features/bluetooth-permissions
      -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
